<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB65Q0iHYdD_61J-auqnpOC2kkjMlM3Uzw</string>
	<key>GCM_SENDER_ID</key>
	<string>895054682003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incesoy.halkaarzincesoy</string>
	<key>PROJECT_ID</key>
	<string>halkaarz-5aeda</string>
	<key>STORAGE_BUCKET</key>
	<string>halkaarz-5aeda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895054682003:ios:c89b9768a7b6cb14963a66</string>
</dict>
</plist>